table {
    border-collapse: collapse;
}

.email-list td {
    border-bottom: 1px solid rgb(156, 156, 156);
}

td {
    padding: 5px;
}

tr {
    border-radius: 8px;
}

tr:hover {
    box-shadow: 0px 2px 5px 0px;
}