.email-side-filter>* {
    background-color: inherit;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 10px
}

.email-side-filter>*:hover {
    background-color: rgb(196, 196, 196);
}

/* Container for skill bars */

.container {
    box-sizing: border-box;
    width: 100%;
    /* Full width */
    background-color: #ddd;
    /* Grey background */
    border-radius: 20px;
    font-size: 1rem;
}

.skills {
    text-align: center;
    /* Right-align text */
    padding-top: 5px;
    /* Add top padding */
    padding-bottom: 5px;
    /* Add bottom padding */
    color: black;
    /* White text color */
    cursor: unset;
}

.html {
    background-color: #42C8B7;
    border-radius: 20px;
}