.email-app {
    display: flex;

}

.email-app-sidebar {
    display: flex;
    flex-direction: column;
}

.compose-email-btn {
display: flex;
align-items: center;
border: none;
background-color: inherit;
}
