.email-side-filter {
    display: flex;
    flex-direction: column;
}

.email-side-filter>* {
    background-color: inherit;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 10px
}

.email-side-filter>*:hover {
    background-color: rgb(196, 196, 196);
}