.email-compose {
    position: absolute;
    left: 30%;
    top: 30%;
    background-color: #41c9b9f6;
    border-radius: 8px;
    width: 50%;
    /* height: 50%; */
    padding: 10px;
    color: #4d4d4d;
    font-family: Montserrat-regular;
}

.email-compose>* {
    display: flex;
    flex-direction: column;
}

.compose-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    font-weight: bold;
    color: #4d4d4d;
}

.exit-compose {
    background-color: #41c9b970;
    border: none;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
}

.email-compose-form {
    color: #4d4d4d;
}

.email-compose-form>* {
    padding: 5px
}

.send-email-btn {
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
    background-color: #f9d432b4;
    color: #4d4d4d;
    font-weight: bold;
    font-family: Montserrat-regular;
    font-size: 1rem;
}

.send-email-btn:hover {
    background-color: #f9d432;
    box-shadow: white 0px 0px 11px 1px;
}