/* APP HEADER */

.app-header {
    margin: 10px;
}

.nav-icon {
    font-size: 3rem;
    padding: 10px;
    color: green;
}

.header-grid {
    margin-inline-start: 40px;
}

.header-logo {
    font-size: 3rem;
}

.nav-icon.fa-user {
    margin-inline-start: 20px;
}