/* APP HEADER */

.app-header {
    margin: 10px;
}

.nav-icon {
    font-size: 3rem;
    padding: 10px;
    color: green;
}

.header-grid {
    margin-inline-start: 40px;
}

.header-logo {
    font-size: 3rem;
}

.header-logo img {
    height: 3rem;
}

.nav-icon.fa-user {
    margin-inline-start: 20px;
}

/* .header-nav {
    font-size: 1.05em;
    position: fixed;
    top: 0;
    right: 0;
    min-width: 200px;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    background-image: linear-gradient( 90deg, #0f9ab4, #30bb72);
    box-shadow: 0px 0px 0px transparent;
    z-index: 1;
    transform: translateX(100%);
    transition: 0.5s;
    width: 50%;
}

.header-nav>* a {
    display: block;
    text-align: center;
    border-bottom: 1px solid black;
    padding: 20px 13px;
} */

/* .btn-menu-toggle {
 
    border-radius: 50%;
    padding: 10px;
    background-color: #fff;
    color: #21ac91;
    box-shadow: 0 4px 4px rgb(0 0 0 / 14%);
} */