/* FONTS */

/* font-awesome */

@font-face {
    font-family: Solids;
    src: url(../../assets/fonts/Awesome/fa-solid-900.ttf);
}

@font-face {
    font-family: Brands;
    src: url(../../assets/fonts/Awesome/fa-brands-400.ttf);
}

@font-face {
    font-family: Regular;
    src: url(../../assets/fonts/Awesome/fa-regular-400.ttf);
}

.fas::before {
    font-family: Solids;
}

.fab::before {
    font-family: Brands;
}

.far::before {
    font-family: Regular;
}

.fas.fa-home::before {
    content: "\f015";
}

.fas.fa-envelope::before {
    content: "\f0e0";
}

.fas.fa-sticky-note::before {
    content: "\f249";
}

.fas.fa-book-open::before {
    content: "\f518";
}

.fas.fa-th::before {
    content: "\f00a";
}

.fas.fa-user::before {
    content: "\f007";
}

.fas.fa-trash::before {
    content: "\f1f8";
    /* color: #303030;
    font-size: 1.2rem; */
}

.email-preview-btn.fas.fa-trash::before {
    content: "\f1f8";
    color: #555555a8;
    font-size: 1.2rem;
}

.fas.fa-star::before {
    content: "\f005";
    color: #303030;
    font-size: 1.2rem;
}

.email-preview-btn.fas.fa-star::before {
    content: "\f005";
    color: #F9D532;
    font-size: 1.2rem;
}

.far.fa-star::before {
    content: "\f005";
    color: #303030;
    font-size: 1.2rem;
}

.email-preview-btn.far.fa-star::before {
    content: "\f005";
    color: #555555a8;
    font-size: 1.2rem;
}

.fas.fa-search::before {
    content: "\f002";
}

.fab.fa-youtube::before {
    content: "\f167";
}

.fas.fa-image::before {
    content: "\f03e";
}

.fas.fa-check-square::before {
    content: "\f14a";
}

.email-preview-btn.fas.fa-check-square::before {
    content: "\f14a";
    color: #555555a8;
    font-size: 1.2rem;
}

.fas.fa-palette::before {
    content: "\f53f";
}

.fas.fa-thumbtack::before {
    content: "\f08d";
}

.fas.fa-edit::before {
    content: "\f044";
}

.fas.fa-clone::before {
    content: "\f24d";
}

.fas.fa-at::before {
    content: "\f1fa";
}

.fas.fa-circle::before {
    content: "\f111";
}

.far.fa-square::before {
    content: "\f0c8";
}

.email-preview-btn.far.fa-square::before {
    content: "\f0c8";
    color: #555555a8;
    font-size: 1.2rem;
}

.fas.fa-plus::before {
    content: "\f067";
    color: #41C9B8;
    border: #41C9B8;
    font-size: 3rem;
    margin-right: 5px;
}

.fas.fa-inbox::before {
    content: "\f01c";
    color: #303030;
    font-size: 1.2rem;
}

.fas.fa-paper-plane::before {
    content: "\f1d8";
    color: #303030;
    font-size: 1.2rem;
}

.fab.fa-firstdraft::before {
    content: "\f3a1";
    color: #303030;
    font-size: 1.2rem;
}

.fas.fa-caret-down::before {
    content: "\f0d7";
}

.fas.fa-times::before {
    content: "\f00d";
    font-size: 1.2rem;
    color: #d8d8d8;
}