/* FONTS */

/* font-awesome */

@font-face {
    font-family: Solids;
    src: url(../../assets/fonts/Awesome/fa-solid-900.ttf);
}

.fas::before {
    font-family: Solids;
}

.fas.fa-home::before {
    content: "\f015";
}

.fas.fa-envelope::before {
    content: "\f0e0";
}

.fas.fa-sticky-note::before {
    content: "\f249";
}

.fas.fa-book-open::before {
    content: "\f518";
}

.fas.fa-th::before {
    content: "\f00a";
}

.fas.fa-user::before {
    content: "\f007";
}

.fas.fa-trash::before {
    content: "\f1f8";
}

.fas.fa-star::before {
    content: "\f005";
}

.fas.fa-search::before {
    content: "\f002";
}

.fas.fa-youtube::before {
    content: "\f167";
}

.fas.fa-image::before {
    content: "\f03e";
}

.fas.fa-check-square::before {
    content: "\f14a";
}


