/* NOTE DETAILS */

.note-details {
    height: 60vh;
    width: 600px;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    break-inside: avoid;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}