/* NOTE ADD */

.note-add {
    width: 700px;
    border: none;
    border-radius: 0.7rem;
    padding: 20px 5px;
    background-color: #F1F3F4;
    margin-bottom: 20px;
}

.add-note-input {
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    margin-inline-start: 30px;
}

.add-note-input:focus {
    outline-width: 0;
}

.add-note-btn {
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: 10px;
    border-radius: 50%;
    margin-inline-start: 10px;
}